services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: biporal-frontend
    ports:
      - '80:80'
    networks:
      - app-network

networks:
  app-network:
    external: true
      
